table.priestInfoTable>tbody>tr>td {
	border : none;
}
.myCustomLableForChangeImage {
	position:relative;
}

.myCustomLableForChangeImage input {
    position: absolute;
    z-index: 2;
    opacity: 0;
    width:100%;
    height:100%;
}

/* img:hover{
  filter: gray;
  -webkit-filter: grayscale(1); 
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img{
  filter: none; 
  -webkit-filter: grayscale(0); 
 
} */
/* img {
  filter: gray; 
  -webkit-filter: grayscale(1); 
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; 
  -webkit-filter: grayscale(0); 
 
} */
/* img{
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}
.galleryImage img:hover{
	cursor : pointer;
} */
.galleryImage img{
	margin-bottom : 20px;
}
.galleryImage img:hover{
	cursor : pointer;
}
#slide1, #slide2,#slide3{ width: 100%; }
#slide1{
	/* background:url('../images/final0.jpg') 50% 0 no-repeat fixed; */
	color: #fff;
	margin: 0;
	/* padding: 200px 0 260px 0; */
	background-size: cover;
}

#slide2{
	/* background: url('../images/final3.jpg') 50% 0 no-repeat fixed; */
	color: #fff;
	margin: 0;
	/* padding: 200px 0 260px 0; */
	background-size: cover;
}

#slide3{
	/* background: url('../images/final2.jpg') 50% 0 no-repeat fixed; */
	color: #fff;
	margin: 0;
	/* padding: 200px 0 260px 0; */
	background-size: cover;
}

@media only screen and (max-width: 760px) {
  #some-element { display: none; }
}

/* .downArrow {
	background-image : url("../images/down-arrow-icon.png");
	background-repeat : no-repeat;
	position:fixed;
	bottom : 10px;
} */