input,textarea {
	color : black;
}
.posRelative {
	position : relative;
}
/*Overlay*/
.overlay {
	/* position : absolute;
	left : 50%;
	top : 50%; */
	position : absolute;
	width : 350px;
	height : 350px;
	border : 1px solid black;
}
/*Clear both Float */
.clear {
	clear : both;
}
/*Margins*/
.marBot10 {
	margin-bottom : 10px;
}

.marBot5 {
	margin-bottom : 5px;
}