* {margin:0; padding: 0;} 

html, body
 {height:100%;} 
/** format elements which have backgrounds parallax **/ 
.bgParallax { 
	font-family: 'Elsie', cursive; 
	color:#FFF; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	min-height: 100%; 
	text-shadow:0 0 10px rgba(0,0,0,0.7); 
	background-position: 100% 100%; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : cover !important;
} 
/* Define backgrounds of divs */
 #homePage {
	background-image: url(../images/final0.jpg);
 } 
 #churchPage { 
	 background-image: url(../images/slide1.jpg); 
	 -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
 } 
  #priestProfie { 
	 background-image: url(../images/slide3.jpg); 
	 -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
 } 
 #churchGallery { 
	 background-image: url(../images/slide5.jpg); 
	 -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
 } 
#footer { 
	 background-image: url(../images/slide1.jpg); 
	/*  -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);  */
 } 
 
 /*Caurosal Effect Styel*/
 .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	  width: 70%;
	  margin: auto;
  }
  .labelcolor {
	background-color: #000;
  }
  .carousel-content {
		color:black !important;
		display:flex;
		align-items:center;
  }
  
  /*Second Slide */
  .churchInformation {
	border : 1px solid;
	min-height : 300px;
  }