* {margin:0; padding: 0;} 

html, body
 {height:100%;} 
/** format elements which have backgrounds parallax **/ 
.bgParallax { 
	font-family: 'Elsie', cursive; 
	color:#FFF; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	min-height: 100%; 
	text-shadow:0 0 10px rgba(0,0,0,0.7); 
	background-position: 100% 100%; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : cover !important;
} 
/* Define backgrounds of divs */
 #homePage {
	background-image: url(../images/churchImage2.jpg) !important;
 } 
 #churchPage { 
	 background-image: url(../images/slide1.jpg) !important; 
	 -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
 } 
  #priestProfie { 
	 background-image: url(../images/slide3.jpg) !important; 
	 -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
 } 
 #churchGallery { 
	 background-image: url(../images/slide5.jpg) !important; 
	 -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
 } 
#footer { 
	 background-image: url(../images/slide1.jpg) !important; 
	/*  -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7); 
	 box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);  */
 } 
 
 /*Caurosal Effect Styel*/
 .carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	  width: 70%;
	  margin: auto;
  }
  .labelcolor {
	background-color: maroon;
  }
  .carousel-content {
		color:white !important;
		display:flex;
		align-items:center;
  }
  
  /*Second Slide */
  .churchInformation {
	min-height : 200px;
	max-height : 400px;
	
  }
  .churchHistory, #memCalender,.churchNameandAddress,.churchContactDetails,
  .recentUpdates{
	padding:5px;
	text-align: justify;
	-webkit-box-shadow : 5px 5px 5px 5px rgba(0,0,0,0.7); 
	-moz-box-shadow : 5px 5px 5px 5px rgba(0,0,0,0.7);
	-ms-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.7);
	-o-box-shadow : 5px 5px 5px 5px rgba(0,0,0,0.7);
	box-shadow : 5px 5px 5px 5px rgba(0,0,0,0.7);
  }
  .churchHistory h3, .recentUpdates h3{
	margin-top : 5px !important;
  }
  .recentUpdates .list-group {
	margin-bottom : 10px !important;
  }
  /*Marquee anchor tag */
  /* marquee {
	margin-left : 20px;
	margin-top : 10px;
  } */
  marquee div a {
	text-decoration:none;
	display:block;
	margin-bottom:10px;
	color:white;
  }
  /*Church Detatils */
  div.churchNameandAddress,div.churchContactDetails,div.recentUpdates{
	min-height : 180px !important;
	max-height : 350px;
  }
  p.churchName, p.churchAddress,p.phoneNumber,p.lanLineNumber,p.emailInfo{
	width : 100%;
  }
  p.churchName span:first-child, p.churchAddress span:first-child,p.phoneNumber span:first-child,p.lanLineNumber span:first-child,p.emailInfo span:first-child{
	float : left;
	width : 50%;
  }
   p.churchName span:last-child, p.churchAddress span:last-child,p.phoneNumber span:last-child,p.lanLineNumber span:last-child,p.emailInfo span:last-child{
	float : left;
	width : 50%;
  }
  
  .insertedTableData {
	  position: absolute;
	  bottom: 0;
	  background-color: green;
	  width: 14%;
	  text-align: center;
	  border: none;
  }
  
  /*Showing the dayview agenda in overlay*/
  .showDayView {
	position: absolute;
	width: 100%;
	top: 10px;
	bottom: 10px;
  }
  #dayAgenda{
	position: absolute;
	max-width: 65%;
  }
  
  /*Event Holder */
  .eventSelector {
	position: absolute;
	right: 10px;
	width: 30%;
  }
  .dateHolder {
	width : 100%;
  }
  .dateHolder div {
	float:left;
	width: 50%;
  }
  .eventDescription {
	float: left;
	width: 100%;
  }
  