<div class="container">
	<div style="position:relative;top:50px;" id="carousel-example" class="carousel slide" data-ride="carousel">
		<!-- Wrapper for slides -->
		<div class="row">
			<div class="col-xs-offset-3 col-xs-6">
				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-content" style="color:white;">
							<div style="text-align:center;">
								<h1>Job Verses19:25</h1>
								<p>25  I know that my Redeemer lives, and that in the end he will stand upon the earth.</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="carousel-content"style="color:white;">
							<div style="text-align:center;">
								<h1>Revelation Verses 3:5</h1>
								<p>5  He who overcomes will, like them, be dressed in white. I will never blot out his name from the book of life, but will acknowledge his name before my Father and his angels.</p>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="carousel-content" style="color:white;">
							<div style="text-align:center;">
								<h1>Revelation Verses 3:5</h1>
								<p>5  He who overcomes will, like them, be dressed in white. I will never blot out his name from the book of life, but will acknowledge his name before my Father and his angels.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
