<div id="homePage">
	<div class="row">
	<!-- <div class="col-md-3">
		<ul class="nav">
			<li><a href="#AddNewOrder"> Add New Order </a></li>
			<li><a href="#ShowOrders"> Show Order </a></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div ng-view></div>
	</div> -->
		<div class="col-sm-2 col-md-2 col-lg-2">
			<!-- <div class="mirrorAngelImage leftSideAngel">
			</div> -->
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8" style="margin-top: 10px;">
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2 mirrorAngelImage leftSideAngel" style=" margin-top: 45px;">
				</div>
				<div class="col-sm-7 col-md-7 col-lg-7 bannerImage" style="margin-top:40px;">
					<img src="images/bannerImage8.png" style="max-width:100%;" />
					<div class="bannerContent">
						<h4 style="margin-left:15%;">Azan Labs</h4>
						<h4>+91-9962321009</h4>
					</div>
					<!-- <div ng-controller="textCaurosal" ng-include="'templates/churchQuotes.html'"></div> -->
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3 mirrorAngelImage rightSideAngel" style="margin-top: 45px;">
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2">
			<!-- <div class="mirrorAngelImage leftSideAngel">
			</div> -->
		</div>
	</div>
</div>