<div id="homePage">
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8" style="margin-top: 10px;">
			<div class="row">
				<div class="col-sm-2 col-md-2 col-lg-2 mirrorAngelImage leftSideAngel" style=" margin-top: 45px;" data-scroll-speed="5">
				</div>
				<div class="col-sm-7 col-md-7 col-lg-7 bannerImage" style="margin-top:40px;" data-scroll-speed="10">
					<img src="images/bannerImage8.png" style="width:100%;" />
					<div class="animated fadeIn bannerContent">
						<h4 style="margin-left:15%;">Azan Labs</h4>
						<h4>+91-9962321009</h4>
					</div>
					<div class="animated fadeIn" ng-include="'templates/churchQuotes.html'"></div>
				</div>
				<div class="col-sm-2 col-md-2 col-lg-2 mirrorAngelImage rightSideAngel" style="margin-top: 45px;" data-scroll-speed="5">
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2 col-lg-2">
		</div>
	</div>
</div>