/*
	** Created By Naveen
	**Date : 30th July,2015 
*/

/*Font for html and Body */

html, body{
	font-family : "source sans pro" sans-serif;
}

/*Background Image as a Cover */ 
.bgParallaxImage { 
	margin:auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	background : url("../images/field.gif");
	text-shadow:0 0 10px rgba(0,0,0,0.7); 
	background-position: 100% 100%; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : cover !important;
	/* -webkit-filter: grayscale(100%); 
	filter: grayscale(100%); */
}

.churchAffiliatesImage {
	margin: auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	background : url("../images/backgroundImage2.png");
	text-shadow:0 0 10px rgba(0,0,0,0.7); 
	background-position: 100% 100%; 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size : cover !important;
}

/*Banner Image for Home Page */ 

.bannerImage {
	/* background: url("../images/bannerImage1.jpg") no-repeat;
	max-width : 70%; */
}

/*Mirror Angel Image Sprite Image*/

.mirrorAngelImage {
	background : url("../images/mirrorAngelImage.jpg") no-repeat;
}

/*Left Side Angel*/
.leftSideAngel{
	background-position: -1px -3px; 
	width: 146px;
	height: 267px;
}
/*Right Side Angel*/
.rightSideAngel {
	background-position: -153px 0px; 
	width: 145px;
	height: 270px;
}
/*Banner Content*/
.bannerContent{
	  position: absolute;
	  top: 7%;
	  left: 37%;
}
 /*Caurosal Effect Styel*/
 #slides_control > div{
  height: 200px;
}
#slides_control {
  position:relative;
  width: 100%;
}